!cliside/node_modules
!sltinstantmessager/node_modules
/cliside/node_modules
/sltinstantmessager/node_modules
**/node_modules
sltinstantmessager/.env
.DS_Store
cliside/.env.development
build
.vscode
build/*
.env
.vscode