
.dimopacitybackground{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createchatformcontainer{
    min-width: fit-content;
    max-width: 95vw;
    width: 35%;
    min-height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    overflow: hidden;
    max-width: 20vw;
    border: var(--Secondary-color) 2px solid;
}
.createchatformcontainer>span{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.dimopacitybackground>span{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--Secondary-color);
    opacity: 0.3;
}


.add-userinput>input{
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    border-style: solid;
    font-size: 1.25rem;
    border: var(--Secondary-color) solid 1px;
    background: none;
    color: var(--Secondary-color);
}
.add-userinput>input:focus{
    outline-color: var(--Secondary-color);
}
.basebutton{
    height: 3rem;
    border-radius: 5px;
    font-weight: 600;
    color: #e6e6e6;
    outline: none;
    font-size: medium;
    border: #363636 solid 1px;
    background-color: var(--Secondary-color);
    cursor: pointer;
    transition: all 0.4s ease;
}
.basebutton:hover{
    background-color: #e6e6e6;
    color: var(--Secondary-color);
    transition: all 0.4s ease;

}
.add-tolist-btn>button{
    width: 50%;
}
.createchat-submit-btn>button{
    width: 65%;
}

.similarusrscard{
    width: 65%;
    text-align: center;
    height: 3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    color: var(--Secondary-color);
    border: var(--Secondary-color) 2px solid;
    margin: 10px;
    border-radius: 5px; 
}
.similarusrscard:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.recipients_list{
    color: #39386f;
}
.recipients_list>p, .recipients_list>span{
    font-size: medium;
    font-weight: 500;
}

.selected_recipients{
    color: #ffffff;
    width: fit-content;
    height: 30%;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: var(--Secondary-color);
    border: var(--Secondary-color) 2px solid;
    transition: all 0.4s ease;
}
.selected_recipients:hover{
    background-color: #e6e6e6;
    color: var(--Secondary-color);
    transform: scale(1.05);
    transition: all 0.4s ease;
    cursor: pointer;
}