
.body{
    transition: all 1s ease-in;
}/**/
.dinbox{
    width: 100vw;
    height: 100vh;
    max-height: fit-content;
    max-width: fit-content;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    
}
.topbar{
    position: static;
    top:0;
    /*height: 5%;*/
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: var(--Secondary-color) 2px solid;

}

#barwelcome{
    color: var(--Text-color);
    font-size: large;
    font-weight: 600;
    user-select: none;
}
.chatandbar{
    width: 100%;
    min-height: 92%;
    height: 100%;
    display: flex;
}
.chatbar::-webkit-scrollbar{
    display: none;
}
.usersnameCreatechatbutton{
    display: flex;
    flex-direction: row;
}

.chatbar{
    width: fit-content;
    max-width: 30vw;
    height: 100%;
    border-style: solid;
    border-color: var(--Secondary-color);
    border-width: 0px 2px 0px 0px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.chatbar>div{
    min-height: fit-content;
    width: 100%;
    margin-bottom: 5px;
    background-color: var(--Icon-color);
    word-break: break-word;
    cursor: pointer;
}
.flexcollumncenter{
    display: flex;
    flex-direction:column;
    justify-content: center;
  
}
.chatbar>div:hover ,.chatbar>div:focus{
    background-color: var(--Icon-color-focus);
}
.chatbtnouter{
    height: 5% !important;
    min-height: 4rem !important;
    
}
.create_chat_btn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.create_chat_btn>button{
    width: 85%;
    max-height: 85%;
    height: -webkit-fill-available;
    min-height: fit-content;
    border-radius: 5px;
    font-weight: 600;
    color: var(--Button-text-color);
    outline: none;
    font-size: medium;
    border: var(--Secondary-color) solid 1px;
    background-color: var(--Secondary-color);
    cursor: pointer;
    transition: all 0.4s ease;
}
.create_chat_btn>button:hover{
    background-color: var(--Primary-color);
    color: var(--Button-text-color-hover);
    transform: scale(1.05);
    transition: all 0.4s ease;
}
.chatname{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10px;
    font-weight: 500;
    font-size: large;
    color: var(--Text-color);
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    flex: 1 ;
    
}
.last_messaged{
    font-weight: 600;
    font-size: small;
    color: var(--Text-color);
    margin: 10px;
    user-select: none;
}
.logout{
   /* height: 75%;
    width: 10%;
    min-width: fit-content;*/
    border: 1px 0  solid var(--Secondary-color);
    background-color: var(--Secondary-color);
    color: var(--Button-text-color);
    /*border-radius: 5px;*/
    font-size: 1rem;
    font-weight: 600;
    transition: 0.4s ease;
    /*min-height: 1.5rem;
    max-height: 2.5rem;*/

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logout:hover{
    /*border: 1px solid var(--Secondary-color);*/
    background-color: var(--Primary-color);
    color: var(--Button-text-color-hover);
   /* transform: scale(1.05);*/
    transition: 0.4s ease;
}


.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    border-radius: 5px;
    font-family: inherit !important;
    font-weight: 600;
    color: var(--Text-color)!important;
    background-color: var(--Icon-color-focus);

}   
#logout-icon{
    color: var(--Text-color);
}
.avatar{
    background-color: var(--Icon-color-focus);
    color: var(--Text-color);
    outline: 2px solid var(--Text-color);
}

.dbackground{
    background-color: var(--Primary-color)
}


.openchat{
    width: 100%;
    height: 100%;
}

.lightanddarkicons{
    color: var(--Theme-icon-color);
}

.menuicon{
    color: var(--Text-color);
}